

.tabs li {
  display: block;
  padding: 10px 23px;
  background: #000000;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 10px;
}

.tabs li.active {
  background: #00a884;
  color: #ffffff;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

