

.tabs li {
  display: block;
  padding: 10px 23px;
  background: #000000;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 10px;
}

.tabs li.active {
  background: #00a884;
  color: #ffffff;
}



.ping-delay-100 {
  animation-delay: 1.0s;
}

.ping-delay-200 {
  animation-delay: 2.0s;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

#timer {
  animation: pulse 2s infinite ease-in-out;
}
#timer1 {
  animation: pulse 4s infinite ease-in-out;
}
#timer2 {
  animation: pulse 2s infinite ease-in-out;
}
#timer3 {
  animation: pulse 4s infinite ease-in-out;
}
#timer4 {
  animation: pulse 2s infinite ease-in-out;
}
#timer5 {
  animation: pulse 4s infinite ease-in-out;
}

